footer{
    background: rgb(243,243,243);
    color: black;
}
container-body{
    display: flex;
}
columna1{
    max-width: 480px;
    padding-left: 10px;
    padding-top: 10px;
    h1{
        font-size: 12px;
    }
    p{
        font-size: 10px;
        color: darkgray;
    }
}
columna2{
    max-width: 240px;
    padding-left: 10px;
    padding-top: 10px;

    h1{
        font-size: 12px;
    }
    row{
        font-size: 10px;
        color: darkgray;
        margin-top: 20px;
        display: flex;
    }
}